<div class="row justify-content-center align-content-center" *ngIf="!errorOccured">
  <div class="col col-auto">
    <select name="breed" class="breed-selection" [disabled]="!breedList" [(ngModel)]="currentBreedName" (change)="changeBreed($event.target.value)">
      <option disabled="disabled" *ngIf="!breedList">Загрузка...</option>
      <option *ngIf="breedList" disabled="disabled" value="">Выберите породу собаки</option>
      <option *ngFor="let breed of breedList" [value]="breed.routeParam">{{breed.title | capitalize}}</option>
    </select>
  </div>
  <div class="w-100"></div>
  <div class="col col-auto">
    <img [src]="breedImage" alt="Dog's image" class="breed-img" *ngIf="breedImage">
  </div>
  <div class="w-100"></div>
  <div class="col col-auto">
    <button class="btn" *ngIf="breedImage" (click)="createRandomImage()">Next image</button>  
  </div>
</div>
<div class="error-message" *ngIf="errorOccured">Произошла ошибка</div>