:host {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
}

.breed-selection {
    min-width: 250px;
    max-width: 100%;
}

.breed-img {
    padding: 16px 0;
}

.error-message {
    color: #fb4c2f;
    text-align: center;
}